<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.aprexi.praxis.PraxisApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AprexiPraxis"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ProfessionalProyectsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.UserDataDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.LanguagesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ExperienceJobsUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.StudiesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.DetailRequestOfferActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.OfferDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.BottomActivity"
            android:label="@string/title_activity_botton"
            android:screenOrientation="locked" />
        <activity
            android:name=".presentation.fragment.OfferDetailFragment"
            android:label="@string/title_activity_botton"
            android:screenOrientation="locked" />
    </application>

</manifest>